
<h1 class="text-center mx-5 border-bottom border-2 py-3">Portfolio</h1>

<!-- Experiencias -->
<ul class="list-group list-group-flush">
  <li *ngFor="let experiencias of miExperiencia" class="list-group-item" >

    <!-- fecha -->

    <h2 class="blockquote-footer my-2" id="working_progress_foto">{{experiencias.anio}}</h2>


    <!-- Enlace Landpage -->
    
    <a type="button" href="" target="_blank" class="btn text-decoration-none border-0 text-dark">
      {{experiencias.proyecto}}
    </a> 

  </li>
</ul>

<br>


<!-- habilidades e idiomas  -->
<div class="container mt-5">
  
  
    <h2 class="text-center mt-5  border-bottom border-2 ">Habilidades</h2>

    <dl class="mt-5">

      <!-- Habilidades -->
      <ul class="list-group list-group-flush">
        <li *ngFor="let habilidades of miHabilidad"  class="list-group-item">
          <dt class="mb-3">{{habilidades.tecnologia}}</dt>
          <!-- <dd class="mb-3">{{habilidades.tecnologia}}</dd> -->
        </li>
      </ul>
    
   

  
    <!-- Idiomas -->
    <h2 class="text-center mt-5  border-bottom border-2 ">Idiomas</h2>

    <ul class="list-group list-group-flush">
      <li *ngFor="let idiomas of miIdioma" class="list-group-item" >
        <dt class="mt-5">{{idiomas.lengua}}</dt>
        <dd class="mt-3">{{idiomas.nivel}}</dd>

      </li>
    </ul>
    

    
  
  
    </dl>
  
  
  </div>