
<h1 class="text-center mx-5 border-bottom border-2 py-3">Portfolio
<!-- plus -->
      <div class="btn-edit float-end ">
        <a href="#" class="btn-right text-decoration-none" data-bs-toggle="modal" data-bs-target="#crearPortfolio">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus text-dark" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </a>
      </div>

</h1>
      
  <app-modal-portfolio></app-modal-portfolio>

<!-- Experiencias -->
<ul class="list">
  <li *ngFor="let experiencias of experiencias" class="list-group-item m-5 " >

    <!-- fecha -->

    <h2 class="blockquote-footer my-2" id="working_progress_foto">{{experiencias.fin}}</h2>


    <!-- Enlace Landpage -->
    
    <a type="button" [href]="experiencias.direccion" target="_blank" class="btn text-decoration-none border-0 text-dark">
      {{experiencias.descripcion}} <span class="fw-semibold">{{experiencias.stackusado}}</span> 
    </a> 


       <!-- lapiz -->
       <div class="btn-edit float-end  ">
        <a href="#" class="btn-right text-decoration-none" data-bs-toggle="modal" data-bs-target="#editarPortfolio"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill text-dark" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
        </svg>
      </a>
      <a href="#" class="btn-right text-decoration-none m-3" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-dark" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
      </a>
      </div>

  </li>
</ul>

<br>


<!-- habilidades e idiomas  -->
<div class="container mt-5">
  
  
    <h2 class="text-center mt-5  border-bottom border-2 ">Habilidades

  <!-- plus -->
          <div class="btn-edit float-end ">
            <a href="#" class="btn-right text-decoration-none " data-bs-toggle="modal" data-bs-target="#crearHabilidades">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus text-dark" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </a>
          </div>

    </h2>
        <app-modal-habilidades></app-modal-habilidades>
      

   

      <!-- Habilidades -->
      <ul class="list mt-5">
        <li *ngFor="let habilidades of habilidades"  class="list-group-item">
          <!-- lapiz -->
       <div class="btn-edit float-end ">
        <a href="#" class=" text-decoration-none " data-bs-toggle="modal" data-bs-target="#editardHabilidades"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill text-dark" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
        </svg></a>
        <a  class=" text-decoration-none m-3" (click)="borrarHabilidad(habilidades.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-dark" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg>
        </a>
      </div>
          <dt class="mb-5">{{habilidades.tecnologia}}</dt>
          <!-- <dd class="mb-3">{{habilidades.tecnologia}}</dd> -->

       

        </li>
    
      </ul>
    
   
<!-- Idiomas -->
<app-idioma></app-idioma>
    

    
  
  
   
  
  
  </div>

 

 <!-- editar -->
  <div class="modal fade" id="editardHabilidades" tabindex="-1" aria-labelledby="habilidadesEModalLabel" aria-hidden="true">
          
    <div class="modal-dialog modal-content">
        <div class="modal-content modal-lg">
           
            <div class="modal-header">
        
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="formHabilidad" >
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 class="text-center">Editar Habilidades</h5>
                        <div class="input-group mb-3">
                            <label for="inputEStackTec" class="col-sm-2 col-form-label mx-2">Tecnologias</label>
                            <div class="col-sm-10 w-75 ">
                              <input type="text" class="form-control " id="inputEStackTec" formControlName="tecnologia" [(ngModel)]="tecnologia">
                            </div>
                            <label for="inputEPorcentaje" class="col-sm-2 col-form-label mx-2">Porcentaje</label>
                            <div class="col-sm-10 w-75 ">
                              <input type="text" class="form-control " id="inputEPorcentaje" formControlName="porcentaje" [(ngModel)]="porcentaje">
                            </div>
                            <!-- <label for="inputEColor" class="col-sm-2 col-form-label mx-2">Color</label>
                            <div class="col-sm-10 w-75 ">
                              <input type="text" class="form-control " id="inputEColor"  formControlName="color" [(ngModel)]="color">
                            </div> -->

                            <label for="inputImgEHabilidades" class="col-sm-2 col-form-label mx-2">Imagen</label>
                            <div class="col-sm-10 w-75 ">
                              <input type="text" class="form-control " id="inputImgEHabilidades" formControlName="imagen" [(ngModel)]="imagen">
                            </div>

                          


                          </div>
                       
                    
                    </div>
                    <div class="col-sm-4">
                       
                    
                    </div>
                </div>
             
             
              
      
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success ">Guardar</button>
           
              <!-- <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button> -->

              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
          </div>
    </div>
  </div> 
 


  <!-- modal eliminar habilidad  -->
  <!-- <div class="modal fade" id="eliminarHabilidad" aria-hidden="true" aria-labelledby="modalToggleEliminarHabilidad" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Eliminar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Seguro Desea Eliminar?
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger" type="submit"  data-bs-dismiss="modal" aria-label="Close" >Eliminar</button>
        </div>
      </div>
    </div>
  </div> -->

 <!-- editar experiencia -->
  <div class="modal fade" id="editarPortfolio" tabindex="-1" aria-labelledby="modalLabelEditarPortfolio" aria-hidden="true">
          
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
           
            <div class="modal-header">
        
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 class="text-center">Editar Portfolio</h5>


                           
                        <div class="input-group mb-3">
                            <label for="inputEEmpresa" class="col-sm-2 col-form-label mx-2">Empresa</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputEEmpresa">
                            </div>
                          </div>

                             
                        <div class="input-group mb-3">
                            <label for="inputEEsTrActual" class="col-sm-2 col-form-label mx-2">¿Trabajas Actualmente ahi?</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputEEsTrActual">
                            </div>
                          </div>


                          <div class="input-group mb-3">
                            <label for="inputEInicioPortfolio" class="col-sm-2 col-form-label mx-2">Inicio</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputEInicioPortfolio">
                            </div>
                          </div>



                          <div class="input-group mb-3">
                            <label for="inputEFinPortfolio" class="col-sm-2 col-form-label mx-2">Fin</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputEFinPortfolio">
                            </div>
                          </div>

                          <div class="input-group mb-3">
                            <label for="inputEditarDesc" class="col-sm-2 col-form-label mx-2">Descripcion</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputEditarDesc">
                            </div>
                          </div>

                        
                        <div class="input-group mb-3">
                            <label for="inputEDireUrl" class="col-sm-2 col-form-label mx-2">Direccion URL</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputEDireUrl">
                            </div>
                          </div>


                          <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputEGroupFile">
                            <label class="input-group-text" for="inputEGroupFile">Subir Imagen</label>
                          </div>

                       


                          <div class="input-group mb-3  ">
                            <label for="inputEStack" class="col-sm-2 col-form-label mx-2">stackusado</label>
                            <div class="col-sm-10 w-75 ">
                              <input type="text" class="form-control " id="inputEStack">
                            </div>
                          </div>
                    
                    </div>
                    <div class="col-sm-4">
                       
                    
                    </div>
                </div>
             
             
              
      
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success">Guardar</button>
           
              <!-- <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button> -->

              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
           
          </div>
          
    </div>


  </div> 


 

<!-- modal eliminar experienci -->
  <!-- <div class="modal fade" id="eliminarExperiencia" aria-hidden="true" aria-labelledby="modalToggleEliminarExperiencia" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h1 class="modal-title fs-5" id="modalToggleEliminarExperiencia">Eliminar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Seguro Desea Eliminar?
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger" type="submit"  data-bs-dismiss="modal" aria-label="Close" >Eliminar</button>
        </div>
      </div>
    </div>
  </div> -->