
<h1 class="text-center mx-5 border-bottom border-2 py-3">Portfolio</h1>
<!-- fecha -->
<h2 class="blockquote-footer my-2" id="working_progress_foto">2022</h2>


<!-- Enlace Landpage -->

<a type="button" href="/PortfolioArgentinaPrograma/PortfolioFrontEnd/land_Photo.html" target="_blank" class="btn text-decoration-none border-0 text-dark">
Working Progress pagina Fotografia</a> 








<!-- fecha -->

<h2 class="blockquote-footer my-2" id="working_progress_escMusica">2022</h2>


<!-- Enlace LandPAge-->

<a class="btn text-decoration-none border-0 text-dark" href="/PortfolioArgentinaPrograma/PortfolioFrontEnd/land_Diet.html" target="_blank">Working Progress Dietética</a>




<!-- fecha -->

<!-- <h2 class="blockquote-footer my-2" id="working_progress_dietetica">2021</h2> -->

<!-- Enlace LandPage -->
<!-- <a type="button" href="/PortfolioArgentinaPrograma/PortfolioFrontEnd/land_Diet2.html" class="btn text-decoration-none border-0 text-dark" target="_blank">
Working Progres Mix Saludables
</a> -->




<!-- fecha -->

<!-- <h2 class="blockquote-footer my-2">2021</h2> -->

<!-- enlace LandPage -->

<!-- <a type="button" href="/PortfolioArgentinaPrograma/PortfolioFrontEnd/land_PHCarrusel.html" class="btn text-decoration-none border-0 text-dark" target="_blank">
Workin Progres Photo Gallery
</a> -->





<!-- fecha -->

<!-- <h2 class="blockquote-footer my-2">2021</h2> -->

<!--Enlace LandPage -->

<!-- <a type="button" href="/PortfolioArgentinaPrograma/PortfolioFrontEnd/land_Productos.html" class="btn text-decoration-none border-0 text-dark" target="_blank">
Working Progres Pagina Productos
</a> -->




<br>


<!-- habilidades e idiomas  -->
<div class="container mt-5">
  
    <h2 class="text-center mt-5  border-bottom border-2 ">Habilidades</h2>

    <dl class="mt-5">
    <dt class="mb-3">HTML - CSS - JS - TS</dt>
    <dd class="mb-3">Bootstrap</dd>
    <dt class="mb-3">Figma</dt>
    <dd class="mb-3">Ruby</dd>
    <dt class="mb-3">Java</dt>
    <dd class="mb-3">Netbeans</dd>
    <dt class="mb-3">Visual Studio Code</dt>    
    <dd class="mb-3">Adobe Photoshop</dd>
    <dt class="mb-3">Adobe Photoshop Lightroom</dt>

  
    <h2 class="text-center mt-5  border-bottom border-2 ">Idiomas</h2>

    <dt class="mt-5">Inglés</dt>
    <dd class="mt-3">Buen dominio hablado y escrito</dd>

    <dt class="mt-3">Portugués </dt>
    <dd class="mt-3">Sumamente competente hablado y escrito</dd>
  
  
    </dl>
  
  
  </div>