<div class="container d-block mx-auto">
    <div class="row">
        <div class="col-sm-6">
            <a type="button"  class="btn text-decoration-none border-0" target="_blank" >
                <img src="../assets/img/DSC_1957_perfil_CEB_2_web.jpg" class="w-50 rounded-circle mt-0 pt-0  float-sm-none" alt="Carlos Balbastro FrontEnd" width="100">
              </a>
        </div>
        <div class="col-sm-6 mt-5">
            <h1 class="fs-1 fw-semibold text-dark">404</h1>
            <p>Error de conexion</p>
            <button type="button" class="btn btn-outline-success" routerLink="">Home</button>
        </div>
    </div>
</div>

