<!-- formacion y habilidades -->


<div class="container">
    <div class="row align-items-start">
  
      <!-- FORMACIOn -->
  
      <div class="col-sm-6" id="educacion">
       
        <h1 class="text-center mx-5 border-bottom border-2 py-3">Formación

          
         <!-- plus -->
    <div class="btn-edit float-end ">
      <a href="#" class="btn-right text-decoration-none" data-bs-toggle="modal" data-bs-target="#crearFormacion">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus text-dark" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </a>
    </div>

        </h1>


<app-modal-formacion></app-modal-formacion>
        

        <ul class="list-group list-group-flush">

          
  <li *ngFor="let educacion of formacion" class="list-group-item" >

    <!-- fecha -->
    <h2 class="blockquote-footer my-2">{{educacion.fin}}</h2>
 
   
  
   <span class="fw-semibold">{{educacion.curso}} </span>{{educacion.institucion}} {{educacion.horas_duracion}}
   

   <img [src]="educacion.imagen" class="img-fluid mx-auto d-block w-75" [alt]="educacion.curso">

    <!-- lapiz -->
    <div class="btn-edit float-end ">
      <a href="#" class="btn-right text-decoration-none" data-bs-toggle="modal" data-bs-target="#editarFormacion"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill text-dark" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
      </svg></a>
      <a href="#" class="btn-right text-decoration-none m-3" data-bs-toggle="modal" data-bs-target="#eliminarFormacion">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-dark" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
      </a>
    </div>


    <!-- crear formacion -->
    
    <div class="modal fade" id="crearFormacion" tabindex="-1" aria-labelledby="modalToggleCrearFormacion" aria-hidden="true">
          
      <div class="modal-dialog modal-lg">
        <div class="modal-content ">
           
            <div class="modal-header">
        
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 class="text-center">Agregar Formacion</h5>
    
    
                           
                        <div class="input-group mb-3">
                            <label for="inputInstitucion" class="col-sm-2 col-form-label mx-2">Institucion</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputInstitucion">
                            </div>
                          </div>
    
    
                          <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">Subir Imagen</label>
                          </div>
    
                             
                        <div class="input-group mb-3">
                            <label for="inputCurso" class="col-sm-2 col-form-label mx-2">Curso</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputCurso">
                            </div>
                          </div>
    
    
                          <div class="input-group mb-3">
                            <label for="inputPuntaje" class="col-sm-2 col-form-label mx-2">Puntaje</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputPuntaje">
                            </div>
                          </div>
    
    
                          <div class="input-group mb-3">
                            <label for="inputInicio" class="col-sm-2 col-form-label mx-2">Inicio</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputInicio">
                            </div>
                          </div>
    
    
    
                          <div class="input-group mb-3">
                            <label for="inputFin" class="col-sm-2 col-form-label mx-2">Fin</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputFin">
                            </div>
                          </div>
    
                          <div class="input-group mb-3">
                            <label for="inputHsDuracion" class="col-sm-2 col-form-label mx-2">Horas Duracion</label>
                            <div class="col-sm-10 w-75">
                              <input type="text" class="form-control" id="inputHsDuracion">
                            </div>
                          </div>
    
                        
                        
    
    
                      
    
                       
    
    
                    
                    </div>
                    <div class="col-sm-4">
                       
                    
                    </div>
                </div>
             
             
              
      
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success ">Guardar</button>
           
              <!-- <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button> -->
    
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
           
          </div>
          
    </div> 
    
    
    
      </div> 


    <!-- modal eliminar formacion -->
  <div class="modal fade" id="eliminarFormacion" aria-hidden="true" aria-labelledby="modalToggleEliminarFormacion" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h1 class="modal-title fs-5" id="modalToggleEliminarFormacion">Eliminar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Seguro Desea Eliminar?
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger" type="submit"  data-bs-dismiss="modal" aria-label="Close" >Eliminar</button>
        </div>
      </div>
    </div>
  </div>

 
 <!-- Modal -->
    
  <!-- <div class="modal fade" id="imgCertificados"  tabindex="-1" aria-labelledby="imgCertificadoModalLabel" aria-hidden="true">
            
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="imgCertificadoModalLabel">{{educacion.fin}}</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
        </div>

     

        <div class="modal-body w-100">
          <img [src]="educacion.imagen" class="img-fluid mx-auto d-block w-100" alt="Certificados">
        </div>
      </div>
    </div>
  </div> -->


 
   




  </li>

    


      </ul>
       
       

  
  
  
  </div>
  
  
  
  
  
  <!-- TRABAJOS Habilidades - Idiomas-->
  
  <div class="col-sm-6">
    
  
  <!-- habilidades e idiomas -->
  
<app-habilidades></app-habilidades>
<app-contacto></app-contacto>


  
  

   </div>
  
  
  
  
  
      </div>
    </div>
