<!-- formacion y habilidades -->


<div class="container">
    <div class="row align-items-start">
  
      <!-- FORMACIOn -->
  
      <div class="col-sm-6" id="educacion">
       
        <h1 class="text-center mx-5 border-bottom border-2 py-3">Formación</h1>

        <ul class="list-group list-group-flush">

          
  <li *ngFor="let educacion of miEducacion" class="list-group-item" >

    <!-- fecha -->
    <h2 class="blockquote-footer my-2">{{educacion.fin}}</h2>
 
    <!-- boton que genera modal -->
  <a type="button"  class="btn text-decoration-none border-0 text-dark" data-bs-toggle="modal" data-bs-target="#imgCertificados">
    {{educacion.curso}} {{educacion.institucion}} {{educacion.horas_duracion}}
   </a>

    <!-- Modal -->
   <div class="modal fade" id="imgCertificados" tabindex="-1" aria-labelledby="imgCertificadoModalLabel" aria-hidden="true">
            
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="imgCertificadoModalLabel">{{educacion.fin}}</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
        </div>
        <div class="modal-body w-100">
          <img [src]="educacion.imagen" class="img-fluid mx-auto d-block w-100" alt="Certificados">
        </div>
      </div>
    </div>
  </div>

  </li>

      </ul>
       
       
    <!-- lapiz -->
    <!-- <div class="btn-edit">
        <a href="#" class="btn-left text-decoration-none"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill text-dark" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
        </svg></a>
      </div> -->
  
  
  
  </div>
  
  
  
  
  
  <!-- TRABAJOS Habilidades - Idiomas-->
  
  <div class="col-sm-6">
    
  
  <!-- habilidades e idiomas -->
  
  <app-habilidades></app-habilidades>

  <app-contacto></app-contacto>

  
  

   </div>
  
  
  
  
  
      </div>
    </div>
