  <!-- modal creaer persona -->

  <div class="modal fade" id="crearInfoPersona" tabindex="-1" aria-labelledby="crearModalLabel" aria-hidden="true">
          
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">

        <form [formGroup]="formPersona" (ngSubmit)="onEnviar($event)">
         
          <div class="modal-header">
      
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-8">
                      <h5 class="text-center">Crear Informacion Persona</h5>
  
  
                         
                      <div class="input-group mb-3">
                          <label for="inputcrearNombre" class="col-sm-2 col-form-label mx-2">Nombre</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputcrearNombre" formControlName="nombre">
                          </div>
                        </div>
  
                           
                      <div class="input-group mb-3">
                          <label for="inputCrearApelle" class="col-sm-2 col-form-label mx-2">Apellido</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCrearApelle" formControlName="apellido">
                          </div>
                        </div>
  
  
                        <div class="input-group mb-3">
                          <label for="inputCrearDomicilio" class="col-sm-2 col-form-label mx-2">Domicilio</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCrearDomicilio" formControlName="domicilio">
                          </div>
                        </div>
  
  
  
                        <div class="input-group mb-3">
                          <label for="inputCrearNacionalidad" class="col-sm-2 col-form-label mx-2">Nacionalidad</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCrearNacionalidad" formControlName="nacionalidad">
                          </div>
                        </div>
  
                        <div class="input-group mb-3">
                          <label for="inputCrearLugNac" class="col-sm-2 col-form-label mx-2">Lugar Nacimiento</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCrearLugNac" formControlName="lugarNacimiento" >
                          </div>
                        </div>
  
                      
                      <div class="input-group mb-3">
                          <label for="inputCLugRes" class="col-sm-2 col-form-label mx-2">Lugar Residencia</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCLugRes" formControlName="lugarResidencia">
                          </div>
                        </div>
  
  
                        <div class="input-group mb-3">
                          <label for="inputCFechNac" class="col-sm-2 col-form-label mx-2">Fecha Nacimiento</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCFechNac" formControlName="fechaNac" >
                          </div>
                        </div>
  
  
                        <div class="input-group mb-3">
                          <label for="inputCEmail" class="col-sm-2 col-form-label mx-2">Correo Electronico</label>
                          <div class="col-sm-10 w-75">
                            <input type="email" class="form-control" id="inputCEmail" formControlName="correo">
                          </div>
                        </div>
  
  
                        <div class="input-group mb-3">
                          <label for="inputCSobremi">Sobre Mi <small>minimo 24 caracteres por ahora</small></label>
                          <div class="col-sm-10 w-100" >
                            <textarea class="form-control" id="inputCSobremi"  aria-label="Minimo 42 caracteres" formControlName="sobreMi"></textarea>
                          </div>
                          
                        </div>
  
  
                        <div class="input-group mb-3">
                          <input type="file" class="form-control" id="inputGroupFileImg" formControlName="imagen">
                          <label class="input-group-text" for="inputGroupFileImg">Subir Imagen Perfil</label>
                        </div>
  
                        <div class="input-group mb-3">
                          <input type="file" class="form-control" id="inputGroupFileCV" formControlName="cv" >
                          <label class="input-group-text" for="inputGroupFileCV">Subir CV PDF</label>
                        </div>
                     
  
  
                        <div class="input-group mb-3  ">
                          <label for="inputCEdad" class="col-sm-2 col-form-label mx-2">Edad</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCEdad" formControlName="edad" >
                          </div>
                        </div>
  
                        <div class="input-group mb-3  ">
                          <label for="inputCHijos" class="col-sm-2 col-form-label mx-2">Hijos</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCHijos" formControlName="hijos">
                          </div>
                        </div>
  
  
                        <div class="input-group mb-3  ">
                          <label for="inputCEstadoCivil" class="col-sm-2 col-form-label mx-2">Estado Civil</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCEstadoCivil" formControlName="estadoCivil">
                          </div>
                        </div>
                  
  
                        <div class="input-group mb-3  ">
                          <label for="inputCrearEmpresa" class="col-sm-2 col-form-label mx-2">Empresa</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCrearEmpresa" formControlName="empresa">
                          </div>
                        </div>
  
  
                        <div class="input-group mb-3  ">
                          <label for="inputCOcupacion" class="col-sm-2 col-form-label mx-2">Ocupacion</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCOcupacion" formControlName="ocupacion">
                          </div>
                        </div>
  
  
                        <div class="input-group mb-3  ">
                          <label for="inputCArea" class="col-sm-2 col-form-label mx-2">Area</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCArea" formControlName="area">
                          </div>
                        </div>
  
  
                  </div>
                  <div class="col-sm-4">
                     
                  
                  </div>
              </div>
           
           
            
    
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Guardar</button>
         
            <!-- <button type="button" class="btn btn-outline-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button> -->
  
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </form>
        </div>
        
  </div>
    </div> 
