<div class="modal fade" id="dashboard" tabindex="-1" aria-labelledby="mumukiModalLabel" aria-hidden="true">
          
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
       
        <div class="modal-header">
    
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-8">
                    <h5 class="text-center">Editar Informacion Personal</h5>


                       
                    <div class="input-group mb-3">
                        <label for="inputNombre" class="col-sm-2 col-form-label mx-2">Nombre</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputNombre">
                        </div>
                      </div>

                         
                    <div class="input-group mb-3">
                        <label for="inputApelle" class="col-sm-2 col-form-label mx-2">Apellido</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputApelle">
                        </div>
                      </div>


                      <div class="input-group mb-3">
                        <label for="inputDomicilio" class="col-sm-2 col-form-label mx-2">Domicilio</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputDomicilio">
                        </div>
                      </div>



                      <div class="input-group mb-3">
                        <label for="inputNacionalidad" class="col-sm-2 col-form-label mx-2">Nacionalidad</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputNacionalidad">
                        </div>
                      </div>

                      <div class="input-group mb-3">
                        <label for="inputLugNac" class="col-sm-2 col-form-label mx-2">Lugar Nacimiento</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputLugNac">
                        </div>
                      </div>

                    
                    <div class="input-group mb-3">
                        <label for="inputLugRes" class="col-sm-2 col-form-label mx-2">Lugar Residencia</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputLugRes">
                        </div>
                      </div>


                      <div class="input-group mb-3">
                        <label for="inputFechNac" class="col-sm-2 col-form-label mx-2">Fecha Nacimiento</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputFechNac">
                        </div>
                      </div>


                      <div class="input-group mb-3">
                        <label for="inputEmail" class="col-sm-2 col-form-label mx-2">Correo Electronico</label>
                        <div class="col-sm-10 w-75">
                          <input type="email" class="form-control" id="inputEmail">
                        </div>
                      </div>


                      <div class="input-group mb-3">
                        <label for="inputSobremi">Sobre Mi <small>minimo 24 caracteres por ahora</small></label>
                        <div class="col-sm-10 w-100" >
                          <textarea class="form-control" aria-label="Minimo 200 caracteres"></textarea>
                        </div>
                        
                      </div>


                      <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFileImg">
                        <label class="input-group-text" for="inputGroupFileImg">Subir Imagen</label>
                      </div>

                      <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFileCV">
                        <label class="input-group-text" for="inputGroupFileCV">Subir CV PDF</label>
                      </div>
                   


                      <div class="input-group mb-3  ">
                        <label for="inputEdad" class="col-sm-2 col-form-label mx-2">Edad</label>
                        <div class="col-sm-10 w-75 ">
                          <input type="text" class="form-control " id="inputEdad">
                        </div>
                      </div>

                      <div class="input-group mb-3  ">
                        <label for="inputHijos" class="col-sm-2 col-form-label mx-2">Hijos</label>
                        <div class="col-sm-10 w-75 ">
                          <input type="text" class="form-control " id="inputHijos">
                        </div>
                      </div>


                      <div class="input-group mb-3  ">
                        <label for="inputEstadoCivil" class="col-sm-2 col-form-label mx-2">Estado Civil</label>
                        <div class="col-sm-10 w-75 ">
                          <input type="text" class="form-control " id="inputEstadoCivil">
                        </div>
                      </div>
                

                      <div class="input-group mb-3  ">
                        <label for="inputEmpresa" class="col-sm-2 col-form-label mx-2">Empresa</label>
                        <div class="col-sm-10 w-75 ">
                          <input type="text" class="form-control " id="inputEmpresa">
                        </div>
                      </div>


                      <div class="input-group mb-3  ">
                        <label for="inputOcupacion" class="col-sm-2 col-form-label mx-2">Ocupacion</label>
                        <div class="col-sm-10 w-75 ">
                          <input type="text" class="form-control " id="inputOcupacion">
                        </div>
                      </div>


                      <div class="input-group mb-3  ">
                        <label for="inputArea" class="col-sm-2 col-form-label mx-2">Area</label>
                        <div class="col-sm-10 w-75 ">
                          <input type="text" class="form-control " id="inputArea">
                        </div>
                      </div>


                </div>
                <div class="col-sm-4">
                   
                
                </div>
            </div>
         
         
          
  
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
       
          <button type="button" class="btn btn-outline-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
       
      </div>
      
</div>
  </div> 
