 <!-- modal crear experiencia -->
 <div class="modal fade" id="crearPortfolio" tabindex="-1" aria-labelledby="modalToggleCrearExperiencia" aria-hidden="true">
          
  <div class="modal-dialog modal-lg">
    <form [formGroup]="formExperienciaCreate">
      <div class="modal-content ">
         
          <div class="modal-header">
      
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-8">
                      <h5 class="text-center">Crear Portfolio</h5>


                         
                      <div class="input-group mb-3">
                          <label for="inputCEmpresa" class="col-sm-2 col-form-label mx-2">Empresa</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCEmpresa" formControlName="empresaExp" [(ngModel)]="empresaExp">
                          </div>
                        </div>

                           
                      <div class="input-group mb-3">
                          <label for="inputCEsTrActual" class="col-sm-2 col-form-label mx-2">¿Trabajas Actualmente ahi?</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCEsTrActual" formControlName="estrabajoactual" [(ngModel)]="estrabajoactual" >
                          </div>
                        </div>


                        <div class="input-group mb-3">
                          <label for="inputCInicioExp" class="col-sm-2 col-form-label mx-2">Inicio</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCInicioExp" formControlName="inicio" [(ngModel)]="inicio">
                          </div>
                        </div>



                        <div class="input-group mb-3">
                          <label for="inputCFinExp" class="col-sm-2 col-form-label mx-2">Fin</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCFinExp" formControlName="fin" [(ngModel)]="fin">
                          </div>
                        </div>

                        <div class="input-group mb-3">
                          <label for="inputCDesc" class="col-sm-2 col-form-label mx-2">Descripcion</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCDesc" formControlName="descripcion" [(ngModel)]="descripcion">
                          </div>
                        </div>

                      
                      <div class="input-group mb-3">
                          <label for="inputCDireUrl" class="col-sm-2 col-form-label mx-2">Direccion URL</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCDireUrl" formControlName="direccion" [(ngModel)]="direccion">
                          </div>
                        </div>


                        <!-- <div class="input-group mb-3">
                          <input type="file" class="form-control" id="inputCGroupFile" formControlName="imagenExp" [(ngModel)]="imagenExp">
                          <label class="input-group-text" for="inputCGroupFile">Subir Imagen JPG</label>
                        </div> -->

                        <div class="input-group mb-3">
                          <label for="inputCGruopFileJPG" class="col-sm-2 col-form-label mx-2">Imagen</label>
                          <div class="col-sm-10 w-75">
                            <input type="text" class="form-control" id="inputCGruopFileJPG" formControlName="imagen" [(ngModel)]="imagen">
                          </div>
                        </div>
                     


                        <div class="input-group mb-3  ">
                          <label for="inputCStack" class="col-sm-2 col-form-label mx-2">Stackusado</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCStack" formControlName="stackusado" [(ngModel)]="stackusado">
                          </div>
                        </div>
                  
                  </div>
                  <div class="col-sm-4">
                     
                  
                  </div>
              </div>
           
           
            
    
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="crearExperiencia()">Guardar</button>
         
            <!-- <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button> -->

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
         
        </div>
      </form>
  </div>


</div> 
