<nav class="navbar navbar-expand-sm bg-gradient text-bg-dark navbar-dark" >
    <div class="container-fluid">
    
       <!-- logo github -->
       <a class="navbar-brand mx-3" href="https://github.com/CarlosEduardoBalbastro"> <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-github text-white" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg></a>


       <a class="nav-bar-brand mx-3 text-white text-decoration-none display-6" target="_blank" href="https://argentinaprograma.inti.gob.ar/"><b>><span id="_logo">_</span></b> </a>
      
       <div class="text-wrap" style="width: 5rem;">
        <a class="nav-bar-brand  text-white text-decoration-none badge text-wrap" target="_blank" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">Argentina Programa</a>
      </div>



      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" >Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#sobreMi" routerlink="/sobremi">Sobre mi</a>
          </li> -->
             
          <li class="nav-item  dropdown-item">
            <a class="nav-link  dropdown-toggle" data-bs-auto-close="inside"    role="button" data-bs-target="#collapsePortfolio" data-bs-toggle="dropdown">Portfolio</a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end " id="collapsePortfolio">
              <li *ngFor="let experiencias of experiencias"> 
                <a  type="button" [href]="experiencias.direccion" target="_blank" class="btn text-decoration-none border-0 text-light z">
                  {{experiencias.descripcion}} 
                </a>
              </li>
  

              
            </ul>
          </li>
          <li class="nav-item">

            <a type="button"  class="nav-item btn text-decoration-none border-0 text-white fs-6" alt="Logout" href="/logout">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708Z"/>
              </svg>
            </a>
            <!-- <a class="nav-link" href="#contacto" routerLink="/contacto">Contacto</a> -->
          </li>  
       
          <li class="nav-item text-wrap">
            <!-- <a class="nav-link btn text-decoration-none border-0 text-white" href="#" type="button" target="_blank">Login</a> -->
               


          

            <!-- boton que genera modal -->
         
  
    <a type="button"  class="nav-item btn text-decoration-none border-0 text-white fs-6 " alt="Login" href="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-hearts text-light" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
      </svg>  
      
    </a> 

   
  
     
  
          </li>
          
     
       
          
      
           </ul>
  
      </div>
    </div>
  </nav>
  
