

<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
            
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <div class="modal-title" id="loginModal">2022</div> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
      </div>
      <div class="modal-body w-100">
        <form>
          <div class="mb-3">
            <label for="inPutUser" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="inPutUser" aria-describedby="userHelp" placeholder="Nombre Usuario">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
            <label for="inPutPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inPutPassword" placeholder="Password">
          </div>
          <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <button type="submit" class="btn btn-dark d-block w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>