<div class="modal fade" id="dashboardFormacion" tabindex="-1" aria-labelledby="mumukiModalLabel" aria-hidden="true">
          
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
       
        <div class="modal-header">
    
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-8">
                    <h5 class="text-center">Editar Formacion</h5>


                       
                    <div class="input-group mb-3">
                        <label for="inputInstitucion" class="col-sm-2 col-form-label mx-2">Institucion</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputInstitucion">
                        </div>
                      </div>


                      <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Subir Imagen</label>
                      </div>

                         
                    <div class="input-group mb-3">
                        <label for="inputCurso" class="col-sm-2 col-form-label mx-2">Curso</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputCurso">
                        </div>
                      </div>


                      <div class="input-group mb-3">
                        <label for="inputPuntaje" class="col-sm-2 col-form-label mx-2">Puntaje</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputPuntaje">
                        </div>
                      </div>


                      <div class="input-group mb-3">
                        <label for="inputInicio" class="col-sm-2 col-form-label mx-2">Inicio</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputInicio">
                        </div>
                      </div>



                      <div class="input-group mb-3">
                        <label for="inputFin" class="col-sm-2 col-form-label mx-2">Fin</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputFin">
                        </div>
                      </div>

                      <div class="input-group mb-3">
                        <label for="inputHsDuracion" class="col-sm-2 col-form-label mx-2">Horas Duracion</label>
                        <div class="col-sm-10 w-75">
                          <input type="text" class="form-control" id="inputHsDuracion">
                        </div>
                      </div>

                    
                    


                  

                   


                
                </div>
                <div class="col-sm-4">
                   
                
                </div>
            </div>
         
         
          
  
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-warning text-light">Guardar</button>
       
          <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
       
      </div>
      
</div> 



  </div> 
