
<!-- creae habilidades -->
<div class="modal fade" id="crearHabilidades" tabindex="-1" aria-labelledby="modalcrearHabilidades" aria-hidden="true">
          
  <div class="modal-dialog modal-content">
      <div class="modal-content modal-lg">
         
          <div class="modal-header">
      
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form [formGroup]="formHabilidad" (ngSubmit)="onEnviarHabilidad($event)" >
          <div class="modal-body">
              <div class="row">
                  <div class="col-sm-8">
                      <h5 class="text-center">Agregar Habilidades</h5>
                      <div class="input-group mb-3">
                          <label for="inputCHabilidad" class="col-sm-2 col-form-label mx-2">Tecnologias</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCHabilidad" formControlName="tecnologia">
                          </div>

                       
                          <label for="inputCPorcentaje" class="col-sm-2 col-form-label mx-2">Porcentaje</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputCPorcentaje" formControlName="porcentaje" >
                          </div>
                          <label for="inputEColor" class="col-sm-2 col-form-label mx-2">Color</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputEColor" formControlName="color" placeholder="green" >
                          </div>

                          <!-- <label for="inputImgCHabilidades" class="col-sm-2 col-form-label mx-2">Imagen</label>
                          <div class="col-sm-10 w-75 ">
                            <input type="text" class="form-control " id="inputImgCHabilidades" formControlName="imagen" >
                          </div> -->

                           <div class="input-group mb-3">
                              <input type="file" class="form-control" id="inputImgHabilidades" formControlName="imagen" >
                              <label class="input-group-text" for="inputImgEHabilidades">Subir Imagen JPG</label>
                            </div>

                        

                          


                        </div>
                     
                  
                  </div>
                  <div class="col-sm-4">
                     
                  
                  </div>
              </div>
           
           
            
    
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success " aria-label="Close"  data-bs-dismiss="modal" >Guardar</button>
         
            <!-- <button type="button" class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar</button> -->

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </form>
        </div>
  </div>
</div> 
