
<!-- modal eliminar -->
  <!-- <div class="modal fade" id="eliminarIdioma" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header ">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Eliminar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Seguro Desea Eliminar?
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-danger" type="submit"  data-bs-dismiss="modal" aria-label="Close" >Eliminar</button>
        </div>
      </div>
    </div>
  </div> -->